Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
drf-yasg==1.21.8
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pandas==2.2.2
statsmodels==0.14.2
numpy==1.26.4
gunicorn==22.0.0
django-filter==23.5
redis==5.0.8
Pillow==10.4.0
cloudinary==1.40.0
django-cloudinary-storage==0.3.0
